
@{
    ViewData["Title"] = "Contato";
}

<h1>Contato</h1>
<hr>
<div class="row">
    <div class="form-group col-md-12">
        <p>Um dos aspectos que não pode faltar para uma grande empresa é o contato.</p>
        <p>O contato é uma forma de auxiliarmos todos os clientes a utilizarem o máximo de qualidade em nosso serviço.</p>
        <p>Em meio a isso, o contato é de extrema importância não só para resolução de dúvidas e problemas, mas também para recebermos críticas construtivas sobre nosso serviço.</p>
        <p>Sempre estamos dispostos a ouvir qualquer tipo de crítica, levamos elas de uma forma construtiva para que sirva de evolução.</p>
    </div>
</div>

<div>
    <a href="https://www.instagram.com/_unipoficial/?hl=pt-br" target="_blank"><img src="https://img.shields.io/badge/-Instagram-%23E4405F?style=for-the-badge&logo=instagram&logoColor=white" target="_blank"></a>
    <a href="mailto:atendimentoonline@unip.br"><img src="https://img.shields.io/badge/-Gmail-%23333?style=for-the-badge&logo=gmail&logoColor=white" target="_blank"></a>
    <a href="https://www.linkedin.com/school/unip/?originalSubdomain=br" target="_blank"><img src="https://img.shields.io/badge/-LinkedIn-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white" target="_blank"></a>
    <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5511943035000" target="_blank"><img src="https://img.shields.io/badge/WhatsApp-25D366?style=for-the-badge&logo=whatsapp&logoColor=white" target="_blank"></a>
    <a href="https://www.facebook.com/alunosunip/" target="_blank"><img src="https://img.shields.io/badge/Facebook-1877F2?style=for-the-badge&logo=facebook&logoColor=white" target="_blank"></a>
</div>
<hr>
<h3>Formulário</h3>
<hr>
<div class="row">
    <div class="form-group col-md-12">
        <p>Caso desejar, temos um formulário para avaliarmos nosso serviço e nossas aplicações, basta clicar em "Abrir formulário"</p>
        <a href="https://form.jotform.com/213256961315657" target="_blank">Abrir formulário</a>
    </div>
</div>
