@{
    ViewData["Title"] = "Home Page";
}

<h2>Hotel</h2>
<hr>
<div class="row">
    <div class="form-group col-md-12">
        <p>Olá, tudo bem? Nesse site você poderá encontrar diversos quartos para reserva e entender tudo sobre nossa hotelaria.</p>
        <p>
            Ao lado esquerdo, você pode navegar em nosso Menu para entrar na página desejada
        </p>
    </div>
    <div class="form-group col-md-12">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Novidades!</h4>
            <p>
                Nosso site acaba de receber a atualização 1.0.2.1, responsável para o website ser responsivo em todos os navegadores, saiba mais em nossa aba de desenvolvimento. 
            </p>

        </div>

    </div>
</div>
<h5>Principais quartos disponíveis</h5>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-0 p-0 shadow-sm">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/0b/4a/0a/0b/quarto-hotel-curi.jpg" class="card-img-top rounded-0" alt="Quarto2dorm">
            <div class="card-body text-center">
                <h6 class="card-title">Quarto 2 dormitórios.</h6>
                <p> Alugue já! </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-0 p-0 shadow-sm">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/09/24/c2/79/pietro-angelo-hotel.jpg" class="card-img-top rounded-0" alt="Suite1dorm">
            <div class="card-body text-center">
                <h6 class="card-title">Suíte 1 dormitório.</h6>
                <p> Alugue já! </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-0 p-0 shadow-sm">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/06/0d/9d/0c/hotel-bergozza.jpg" class="card-img-top rounded-0" alt="Quarto1dorm">
            <div class="card-body text-center">
                <h6 class="card-title">Quarto 1 dormitório.</h6>
                <p> Alugue já! </p>
            </div>
        </div>
    </div>
</div>
<hr>
