
@{
    ViewData["Title"] = "Quartos";
}

<h2>Quartos e como reservar</h2>
<hr>
<div class="row">
    <div class="form-group col-md-12">
        <p>Olá, tudo bem? Nessa página você poderá encontrar diversos quartos para reserva e entender como funciona o processo de reserva dos mesmos.</p>
        <p>Ao lado esquerdo, você pode navegar em nosso Menu para entrar na página desejada, caso desejar acessar outra aba.</p>
        <p>Nessa página sempre realizamos o rodízio dos quartos disponíveis, sempre encontrará os principais quartos nas imagens abaixo, após a instrução da reserva do quarto</p>
    </div>
</div>
<h5>Como realizar a reserva do quarto:</h5>
<hr>
<div class="row">
    <div class="form-group col-md-12">
        <p>Para realizar a reserva do quarto, você pode ligar para o número +55 (11)3170-3700 e informar qual é o quarto desejado, no momento não temos a opção de reserva online porém estamos ajustando para implementá-lo o mais rápido possível. </p>
        <p>Sempre nessa página como informado, mostramos os principais quartos disponíveis, caso nenhum te interesse, pode ligar ao nosso número ou acessar nossa aba de <a asp-action="Index" asp-controller="Test">Contato</a> para perguntar sobre os outros quartos disponíveis e realizar a reserva desejada.</p>
    </div>
</div>
<h5>Principais quartos disponíveis</h5>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-0 p-0 shadow-sm">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/09/9c/2a/25/rib-s-comfort-hotel.jpg" class="card-img-top rounded-0" alt="Quarto2dorm">
            <div class="card-body text-center">
                <h6 class="card-title">Quarto 1 dormitório.</h6>
                <p> Reserve já! </p>
                <p> R$ 600,00 per noite </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-0 p-0 shadow-sm">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/02/ff/1a/d4/grande-hotel-petropolis.jpg" class="card-img-top rounded-0" alt="Suite1dorm">
            <div class="card-body text-center">
                <h6 class="card-title">Suíte 2 dormitórios.</h6>
                <p> Reserve já! </p>
                <p> R$ 1200,00 per noite </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-0 p-0 shadow-sm">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/0d/df/4d/8d/quarto-quadruplo-luxo.jpg" class="card-img-top rounded-0" alt="Quarto1dorm">
            <div class="card-body text-center">
                <h6 class="card-title">Quarto 4 dormitórios.</h6>
                <p> Reserve já! </p>
                <p> R$ 1400,00 per noite </p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-0 p-0 shadow-sm">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/0b/4a/0a/0b/quarto-hotel-curi.jpg" class="card-img-top rounded-0" alt="Quarto2dorm">
            <div class="card-body text-center">
                <h6 class="card-title">Quarto 2 dormitórios.</h6>
                <p> Reserve já! </p>
                <p> R$ 900,00 per noite  </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-0 p-0 shadow-sm">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/09/24/c2/79/pietro-angelo-hotel.jpg" class="card-img-top rounded-0" alt="Suite1dorm">
            <div class="card-body text-center">
                <h6 class="card-title">Suíte 1 dormitório.</h6>
                <p> Reserve já! </p>
                <p> R$ 700,00 per noite </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-0 p-0 shadow-sm">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/06/0d/9d/0c/hotel-bergozza.jpg" class="card-img-top rounded-0" alt="Quarto1dorm">
            <div class="card-body text-center">
                <h6 class="card-title">Quarto 1 dormitório.</h6>
                <p> Reserve já! </p>
                <p> R$ 400,00 per noite </p>
            </div>
        </div>
    </div>
</div>
<hr>


