
@{
    ViewData["Title"] = "Sobre nós";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<h2>Sobre nós</h2>
<hr>
<div class="row">
    <div class="form-group col-md-12">
        <p>Somos um grande hotel com muita tradição em nossa cidade e somos extremamente reconhecidos pela excelente hospitalidade.</p>
        <p>Atuante no segmento da hospitalidade, aplicamos nossas habilidades e experiência para oferecer aos nossos investidores, colaboradores e fornecedores, uma gestão moderna que se baseia em comprometimento, transparência e resultado.</p>
        <p>Nosso staff corporativo, experiente na indústria hoteleira garante que as áreas de Finanças, Receitas e Distribuição, Vendas, Marketing, Operações e Recursos Humanos desempenhem uma gestão moderna, focada e ágil.</p>
    </div>
</div>
<h5>Principais pontos fortes de nossa hotelaria:</h5>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-0 p-0 shadow-sm">
            <img src="https://cdn-icons.flaticon.com/png/512/4390/premium/4390306.png?token=exp=1637531806~hmac=0a46a2871f6de686ba58cbbfd945893f" class="card-img-top rounded-0" alt="qualidade">
            <div class="card-body text-center">
                <h6 class="card-title">Qualidade garantida</h6>
                <p> Estamos aqui para ajudá-lo com qualquer dúvida. </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-0 p-0 shadow-sm">
            <img src="https://cdn-icons.flaticon.com/png/512/2567/premium/2567858.png?token=exp=1637531834~hmac=8872e294ad008622462703d3fea49263" class="card-img-top rounded-0" alt="especializada">
            <div class="card-body text-center">
                <h6 class="card-title">Equipe especializada</h6>
                <p> O seu projeto sempre será gerenciado por especialistas. </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card rounded-0 p-0 shadow-sm">
            <img src="https://cdn-icons.flaticon.com/png/512/4010/premium/4010890.png?token=exp=1637531919~hmac=ae236deccb27e46f8587583302835856" class="card-img-top rounded-0" alt="segurança">
            <div class="card-body text-center">
                <h6 class="card-title">Segurança</h6>
                <p> Sempre mantemos a segurança em primeiro lugar em nossos projetos. </p>
            </div>
        </div>
    </div>
</div>
<hr>